<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/taskwalls.appspot.com"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.google.appengine.tools.development.DevAppServerMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--port=8888 ."/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="taskwalls.appspot.com"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dappengine.sdk.root=${workspace_loc}/appengine-java-sdk-1.7.1&#13;&#10;-javaagent:${workspace_loc}/appengine-java-sdk-1.7.1/lib/agent/appengine-agent.jar&#13;&#10;-Dhttp.proxyHost=${system_property:http.proxyHost} -Dhttp.proxyPort=${system_property:http.proxyPort}&#13;&#10;-Dhttps.proxyHost=${system_property:https.proxyHost} -Dhttps.proxyPort=${system_property:https.proxyPort}"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:taskwalls.appspot.com/webapp}"/>
</launchConfiguration>
