@CHARSET "UTF-8";
/*
 * app.css
 * (c) hidetake.org, 2011.
 */
* {
	font-family: 'trebuchet ms', sans-serif;
}

html,body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-size: 13px;
}

a:LINK {
	color: dimgray;
}

a:VISITED {
	color: dimgray;
}

#root {
	position: relative;
	min-height: 100%;
}

#myheader {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
}

#myheader>h1 {
	float: left;
	margin: .5em;
	padding: 0;
	font-size: 100%;
	text-transform: uppercase;
}

#myheader>h1:FIRST-LETTER {
	font-size: 130%;
}

#content {
	
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
	color: dimgray;
	font-size: 90%;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.8);
}

.authorized,.unauthorized {
	display: none;
}

.development {
	display: none;
}

.resource {
	display: none;
}

#loading {
	display: none;
	width: 100px;
	height: 100px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
	background-color: rgba(0, 0, 0, 0.6);
	background-image: url('/css/loading2.gif');
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

#global-error-message {
	display: none;
	width: 400px;
	height: auto;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -200px;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 5px;
	-moz-border-radius: 5px;
	color: white;
	text-align: center;
	padding: 1em;
}

/*
 * Login.
 */
#login-notice {
	margin-top: 5em;
	text-align: center;
}

/*
 * Header.
 */
.header-stack {
	float: right;
	margin: .5em;
	vertical-align: bottom;
}

#tasklists>span {
	margin-right: 12px;
	cursor: pointer;
}

#tasklists>span:BEFORE {
	content: '';
	padding-right: 12px;
	margin-right: 3px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: #ddd;
}

.tasklist-bubble {
	display: none;
	position: absolute;
}

.tasklist-bubble>.head {
	content: '';
	position: relative;
	top: 3px;
	left: -5px;
	width: 0;
	height: 0;
	border-right: 12px solid transparent;
	border-left: 12px solid transparent;
	border-bottom: 12px solid rgba(0, 0, 0, 0.8);
}

.tasklist-bubble>.body {
	position: relative;
	top: 3px;
	left: -100px;
	width: 200px;
	padding: 1em;
	border-radius: 5px;
	-moz-border-radius: 5px;
	background: rgba(0, 0, 0, 0.8);
	color: white;
}

.tasklist-bubble>.body>.change-color {
	margin-top: .5em;
	text-align: center;
}

.tasklist-mark {
	padding-right: 15px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: #ddd;
}

/*
 * Tasks grid.
 */
#calendar {
	border-collapse: collapse;
	width: 100%;
}

#calendar>tbody>tr>td {
	vertical-align: middle;
}

td.month-column {
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	color: transparent;
}

tr.d1>td.month-column {
	color: black;
}

tr.d1>td.month-column>div {
	font-size: 200%;
	text-shadow: #aaa 1px 1px 1px;
}

tr.d1 {
	border-top: solid 1px #ccc;
}

tr.today>td {
	border-top: solid 1px red;
	border-bottom: solid 1px red;
}

tr.past {
	
}

tr.today>td.weekday-column,tr.today>td.date-column {
	font-weight: bold;
}

tr.w0>td.weekday-column,tr.w0>td.date-column {
	color: red;
}

td.weekday-column {
	padding-right: 15px;
	text-align: right;
	color: dimgray;
	text-shadow: #ddd 1px 1px 1px;
}

td.date-column {
	padding-right: 15px;
	text-align: right;
	font-size: 120%;
	text-shadow: #ddd 1px 1px 1px;
}

td.task-column {
	border-top: solid 1px #ccc;
}

tr.w1>td.task-column {
	border-top: solid 1px #888;
}

/*
 * A task.
 */
.task {
	float: left;
	width: 200px;
	min-height: 50px;
	margin-left: 15px;
	padding: 5px;
	border: solid 1px #ddd;
	border-left: solid 5px #ccc;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

.task.task-status-completed {
	color: #888;
}

.task.ui-draggable-dragging {
	z-index: 3;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
}

.task>.task-iscompleted {
	
}

.task-drag-hover {
	
}

/*
 * Colors.
 */
#tasklists>span.tasklistcolor-0:BEFORE,span.tasklistcolor-0.tasklist-mark {
	background-color: #fc0;
}

#tasklists>span.tasklistcolor-1:BEFORE,span.tasklistcolor-1.tasklist-mark {
	background-color: #9f0;
}

#tasklists>span.tasklistcolor-2:BEFORE,span.tasklistcolor-2.tasklist-mark {
	background-color: #30f;
}

#tasklists>span.tasklistcolor-3:BEFORE,span.tasklistcolor-3.tasklist-mark {
	background-color: #c06;
}

.task.tasklistcolor-0 {
	border-left-color: #fc0;
	background: -moz-linear-gradient(top, #fff, #ffd);
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ffd) );
}

.task.tasklistcolor-1 {
	border-left-color: #9f0;
	background: -moz-linear-gradient(top, #fff, #efe);
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#efe) );
}

.task.tasklistcolor-2 {
	border-left-color: #30f;
	background: -moz-linear-gradient(top, #fff, #eef);
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eef) );
}

.task.tasklistcolor-3 {
	border-left-color: #c06;
	background: -moz-linear-gradient(top, #fff, #fee);
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fee) );
}
