@CHARSET "UTF-8";
/*
 * app.css
 * (c) hidetake.org, 2011.
 */
* {
	font-family: 'trebuchet ms', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	font-size: 13px;
}

a:LINK {
	color: dimgray;
}

a:VISITED {
	color: dimgray;
}

input[type="text"],textarea {
	padding: 3px;
	border: solid 1px #ccc;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

input[type="text"]:HOVER,textarea:HOVER {
	border: solid 1px #888;
}

#root {
}

.oauth2state.authorized,.oauth2state.authorizing,.oauth2state.unauthorized {
	display: none;
}

.development {
	display: none;
}

.resource {
	display: none;
}

#loading {
	display: none;
	z-index: 1000;
	width: 100px;
	height: 100px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
	background-color: rgba(0, 0, 0, 0.8);
	background-image: url('/css/loading2.gif');
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

#global-error-message {
	display: none;
	z-index: 990;
	width: 400px;
	height: auto;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -200px;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 5px;
	-moz-border-radius: 5px;
	color: white;
	text-align: center;
	padding: 1em;
}

/*
 * Welcome content.
 */
#welcome-content {
	margin-top: 3em;
	text-align: center;
}

#welcome-content .login {
	margin: 3em;
}

#welcome-content .session-login {
	padding: 1em;
	border-radius: 5px;
	-moz-border-radius: 5px;
	background: #eee;
	box-shadow: 0px 3px 10px 3px rgba(192, 192, 32, 0.2);
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ffc) );
	background: -moz-linear-gradient(top, #fff, #ffd);
	border: solid 1px gold;
	text-decoration: none;
	color: #444;
	font-weight: bold;
	font-size: 110%;
}

#welcome-content .session-login:HOVER {
	box-shadow: 0px 3px 10px 3px rgba(192, 192, 32, 0.6);
	color: #000;
}

#welcome-content .screenshot {
	width: 800px;
	height: 300px;
	margin-top: 4em;
	margin-bottom: 3em;
	margin-left: auto;
	margin-right: auto;
	background: url('/css/screenshot.20111208.png') no-repeat;
	border: solid 1px #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.2) inset;
}

#welcome-content .footer {
	margin: 3em;
	color: #888;
	text-align: center;
}

/* 
 * Authorizing.
 */
#authorizing-content {
	margin-top: 3em;
	text-align: center;
}

/*
 * Header.
 */
#mycontent {
	margin-left: 110px;
}

#myheader {
	z-index: 100;
	position: fixed;
	top: 20px;
	bottom: 20px;
	left: -10px;
	padding-left: 5px;
	width: 120px;
	overflow-y: auto;
	overflow-x: hidden;
	background: white;
	border-right: solid 1px #ccc;
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	-moz-border-radius: 10px;
}

#myheader>h1 {
	padding: 0;
	font-size: 120%;
	text-align: center;
}

#myheader>.stack {
	margin-left: 15px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#myheader>.stack.icons {
	text-align: center;
}

#myheader .icon {
	opacity: 0.3;
}

#myheader .icon:HOVER {
	opacity: 1.0;
}

#myheader .footer {
	color: #888;
	text-align: center;
}

.toggle-tasks>a {
	display: block;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	background: #666;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.toggle-tasks>a.hidden {
	background: #ccc;
}

.toggle-tasks>a:HOVER {
	background: #333;
}

.toggle-tasks .count {
	font-size: 24pt;
}

.new-tasklist-button {
	margin-top: -8px;
	margin-bottom: -8px;
	text-align: right;
}

.new-tasklist-button>a {
	text-decoration: none;
	font-size: 24pt;
	color: #ccc;
}

.new-tasklist-button>a:HOVER {
	color: #000;
}

/*
 * Tasklists.
 */
.tasklist-legend {
	z-index: 500;
	overflow: hidden;
	margin-bottom: 5px;
	border: solid 1px #ddd;
	border-left: solid 5px #ddd;
	border-radius: 5px;
	-moz-border-radius: 5px;
	cursor: pointer;
}

.tasklist-legend:HOVER {
	border-top-color: #888;
	border-bottom-color: #888;
	border-right-color: #888;
}

.tasklist-legend.hidden {
	border-left-width: 1px;
	padding-left: 4px;
}

.tasklist-legend .title {
	padding: 5px;
}

.tasklist-legend .setting {
	position: absolute;
	left: 80px;
	width: 32px;
	height: 32px;
	/* TODO: replace with settings icon */
	background: url('/css/icons/power_shut_down.resized.png') no-repeat;
	opacity: 0.1;
}

.tasklist-legend .setting:HOVER {
	opacity: 1.0;
}

/*
 * Tasklist manipulation forms.
 */
.create-tasklist {
	z-index: 400;
	position: fixed;
	top: 30%;
	left: 50%;
	margin-left: -160px;
	padding: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	border: solid 1px #888;
	background: rgba(255, 255, 255, 1.0);
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
}

.create-tasklist input[type="text"] {
	width: 300px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.update-tasklist {
	position: fixed;
	left: 120px;
}

.update-tasklist>.head {
	content: '';
	position: relative;
	z-index: 401;
	top: 25px;
	left: 5px;
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid white;
}

.update-tasklist>.body {
	position: relative;
	z-index: 400;
	top: -100px;
	left: 20px;
	padding: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	background: white;
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
}

.update-tasklist form {
	margin-top: 10px;
}

.update-tasklist input[type="text"] {
	width: 180px;
}

.update-tasklist .change-color {
	width: 180px;
	margin-top: -10px;
	margin-left: 10px;
}

.tasklist-mark {
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	height: 20px;
	opacity: 0.8;
	border-left: solid 19px #ddd;
	border-radius: 5px;
	-moz-border-radius: 5px;
	cursor: pointer;
}

.tasklist-mark:HOVER {
	opacity: 1.0;
}

/*
 * Calendar.
 */
#calendar {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
}

#calendar>tbody>tr>td {
	vertical-align: middle;
}

td.weekday-column,td.date-column,td.task-column {
	border-top: solid 1px #ccc;
}

td.month-column {
	width: 20px;
	text-align: center;
	color: transparent;
}

td.weekday-column {
	width: 40px;
	padding-right: 5px;
	text-align: center;
	color: dimgray;
	text-shadow: #ccc 1px 1px 1px;
}

td.date-column {
	width: 40px;
	padding-left: 20px;
	text-align: center;
	font-size: 130%;
	text-shadow: #ccc 1px 1px 1px;
}

td.task-column {
	width: auto;
	padding-left: 5px;
	border-left: solid 1px #888;
}

/* first day of month, first row */
tr.d1>td.month-column,tr:FIRST-CHILD>td.month-column {
	color: #000;
}

tr.d1>td.month-column>div,tr:FIRST-CHILD>td.month-column>div {
	position: absolute;
	min-width: 30px;
	font-size: 200%;
	text-shadow: #888 1px 1px 1px;
	padding: 7px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	background: rgba(0, 0, 0, 0.2);
}

tr.d1>td {
	border-top: solid 1px #888;
}

/* Sunday */
tr.w0>td.weekday-column,tr.w0>td.date-column {
	color: #f00;
}

/* Saturday */
tr.w6>td.weekday-column,tr.w6>td.date-column {
	color: #11d;
}

/* Monday */
tr.w1>td.weekday-column,tr.w1>td.date-column,tr.w1>td.task-column {
	border-top: solid 1px #888;
}

/* past tasks */
tr.past {
	background-color: #eee;
}

tr.past>td.task-column .task.task-status-needsAction {
	color: #f00;
}

/* today tasks */
tr.today>td.weekday-column,tr.today>td.date-column {
	font-weight: bold;
	font-size: 130%;
}

tr.today>td.weekday-column,tr.today>td.date-column,tr.today>td.task-column {
	border-top: solid 1px #f00;
}

#calendar>tbody>tr.hover>td {
	background: #ddd;
}

/*
 * Calendar misc.
 */
.task-column>.new-task-button {
	float: right;
	width: 40px;
	height: 40px;
	margin-right: 15px;
	margin-bottom: 1px;
	margin-top: 1px;
	padding: 5px;
	border: solid 1px transparent;
	border-radius: 3px;
	-moz-border-radius: 3px;
	text-align: center;
	color: transparent;
	cursor: default;
}

.task-column>.new-task-button>.symbol {
	font-size: 30px;
}

.task-column>.new-task-button>.balloon-tip {
	position: absolute;
	right: 60px;
	margin-top: 8px;
}

.task-column>.new-task-button:HOVER>.balloon-tip {
	display: block;
}

#calendar:HOVER .task-column>.new-task-button {
	color: #ccc;
}

#calendar .task-column>.new-task-button:HOVER {
	color: #000;
}

#calendar-cached-date {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 200;
	padding: 3px;
	background: rgba(255, 255, 255, 0.7);
	color: dimgray;
}

.calendar-operations-tab {
	text-align: center;
}

.calendar-operations-tab>a {
	padding: 10px 15px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	background: rgba(0, 0, 0, 0.3);
	text-decoration: none;
	color: #fff;
}

.calendar-operations-tab>a:HOVER {
	background: rgba(0, 0, 0, 0.7);
}

#calendar-next {
	background: #fff;
	text-align: center;
	color: #888;
}

#calendar-next:HOVER {
	background: #eee;
	color: #000;
}

#calendar-next a {
	display: block;
	padding-top: 15px;
	padding-bottom: 15px;
	text-decoration: none;
	color: inherit;
}

/*
 * Tasks group.
 */
.taskgroup {
	float: left;
}

/*
 * Tasks.
 */
.task {
	overflow: hidden;
	width: 200px;
	min-height: 40px;
	margin-left: 15px;
	margin-bottom: 1px;
	margin-top: 1px;
	padding: 5px;
	border: solid 1px #ddd;
	border-left-width: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.2);
}

.task-column>.task {
	float: left;
}

.task:HOVER {
	border-top-color: #888;
	border-bottom-color: #888;
	border-right-color: #888;
}

.task.task-status-completed {
	color: dimgray;
}

.task>.notes {
	max-height: 3em;
	font-size: 90%;
	color: dimgray;
}

.task.ui-draggable-dragging {
	z-index: 130;
	box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.4);
}

/*
 * Task manipulation forms.
 */
.update-task-title textarea[name="title"] {
	width: 100%;
	padding: 0;
	min-height: 3em;
	border: none;
	background: transparent;
}

.new-task {
	z-index: 400;
	position: absolute;
	right: 40px;
	padding: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	border: solid 1px #888;
	background: rgba(255, 255, 255, 1.0);
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
}

.new-task>.due {
	margin-bottom: 5px;
	font-weight: bold;
}

.new-task>form>div>input[type="text"],.update-task>.forms>form>div>input[type="text"] {
	width: 300px;
	margin-top: 5px;
}

.new-task>form>div>textarea,.update-task>.forms>form>div>textarea {
	width: 300px;
	margin-top: 5px;
	height: 100px;
}

.update-task {
	z-index: 400;
	position: absolute;
	right: 40px;
	padding: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	border: solid 1px #888;
	background: rgba(255, 255, 255, 1.0);
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
}

.update-task>.forms>form.update {
	float: left;
	margin-bottom: 10px;
}

.update-task>.forms>.datepicker {
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
}

.update-task>.forms>form.delete,.update-task>.forms>form.move {
	clear: both;
	margin-top: 10px;
	padding-top: 10px;
	border-top: inset 1px #ccc;
}

.tasklists.selection {
	margin-top: 5px;
	margin-bottom: 5px;
}

.tasklists.selection>input[type="radio"] {
	display: none;
}

.tasklists.selection>.tasklist {
	margin-right: 5px;
	padding: 5px;
	border-style: solid;
	border-top-color: #ddd;
	border-bottom-color: #ddd;
	border-right-color: #ddd;
	border-width: 1px;
	border-left-width: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

.tasklists.selection>.tasklist:not(.selected) {
	border-left-width: 1px;
	border-left-color: #ddd;
}

.tasklists.selection>.tasklist.selected {
	font-weight: bold;
}

/*
 * Helpers.
 */
.popup-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 300;
	background: rgba(0, 0, 0, 0.2);
}

.transparent-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 300;
}

.balloon-tip {
	display: none;
	z-index: 300;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	background: rgba(0, 0, 0, 0.7);
	color: #fff;
}

.ajax-in-progress {
	opacity: 0.5;
}

/*
 * Icons.
 */
.icon {
	display: inline-block;
	background-repeat: no-repeat;
}

.icon-google-api {
	background-image: url('/css/google_g_logo_webtreatsetc.png');
	height: 128px;
	width: 128px;
}

.icon-oauth2 {
	background-image: url('/css/oauth-2-sm.png');
	height: 128px;
	width: 128px;
}

.icon-reload {
	background-image: url('/css/icons/power_restart.resized.png');
	height: 32px;
	width: 32px;
}

.icon-logout {
	background-image: url('/css/icons/power_standby.resized.png');
	height: 32px;
	width: 32px;
}

/*
 * Colors.
 */
.tasklistcolor-0  { border-left-color: #b76; }
.tasklistcolor-1  { border-left-color: #d76; }
.tasklistcolor-2  { border-left-color: #f42; }
.tasklistcolor-3  { border-left-color: #f54; }
.tasklistcolor-4  { border-left-color: #f73; }
.tasklistcolor-5  { border-left-color: #fb4; }
.tasklistcolor-6  { border-left-color: #4d9; }
.tasklistcolor-7  { border-left-color: #1a6; }
.tasklistcolor-8  { border-left-color: #8d4; }
.tasklistcolor-9  { border-left-color: #be7; }
.tasklistcolor-10 { border-left-color: #fe8; }
.tasklistcolor-11 { border-left-color: #fd6; }
.tasklistcolor-12 { border-left-color: #9ec; }
.tasklistcolor-13 { border-left-color: #aee; }
.tasklistcolor-14 { border-left-color: #ace; }
.tasklistcolor-15 { border-left-color: #58e; }
.tasklistcolor-16 { border-left-color: #aaf; }
.tasklistcolor-17 { border-left-color: #caf; }
.tasklistcolor-18 { border-left-color: #ccc; }
.tasklistcolor-19 { border-left-color: #dcc; }
.tasklistcolor-20 { border-left-color: #dab; }
.tasklistcolor-21 { border-left-color: #f9b; }
.tasklistcolor-22 { border-left-color: #d7e; }
.tasklistcolor-23 { border-left-color: #a8e; }

.tasklistcolor-0 { background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fbf7f6) ); }
.tasklistcolor-0 { background: -moz-linear-gradient(top, #fff, #fbf7f6); }
.tasklistcolor-1 { background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fdf7f6) ); }
.tasklistcolor-1 { background: -moz-linear-gradient(top, #fff, #fdf7f6); }
.tasklistcolor-2 { background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff4f2) ); }
.tasklistcolor-2 { background: -moz-linear-gradient(top, #fff, #fff4f2); }
.tasklistcolor-3 { background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff5f4) ); }
.tasklistcolor-3 { background: -moz-linear-gradient(top, #fff, #fff5f4); }
.tasklistcolor-4 { background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff7f3) ); }
.tasklistcolor-4 { background: -moz-linear-gradient(top, #fff, #fff7f3); }
.tasklistcolor-5 { background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fffbf4) ); }
.tasklistcolor-5 { background: -moz-linear-gradient(top, #fff, #fffbf4); }
.tasklistcolor-6 { background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f4fdf9) ); }
.tasklistcolor-6 { background: -moz-linear-gradient(top, #fff, #f4fdf9); }
.tasklistcolor-7 { background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f1faf6) ); }
.tasklistcolor-7 { background: -moz-linear-gradient(top, #fff, #f1faf6); }
.tasklistcolor-8 { background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f8fdf4) ); }
.tasklistcolor-8 { background: -moz-linear-gradient(top, #fff, #f8fdf4); }
.tasklistcolor-9 { background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fbfef7) ); }
.tasklistcolor-9 { background: -moz-linear-gradient(top, #fff, #fbfef7); }
.tasklistcolor-10 { background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fffef8) ); }
.tasklistcolor-10 { background: -moz-linear-gradient(top, #fff, #fffef8); }
.tasklistcolor-11 { background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fffdf6) ); }
.tasklistcolor-11 { background: -moz-linear-gradient(top, #fff, #fffdf6); }
.tasklistcolor-12 { background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9fefc) ); }
.tasklistcolor-12 { background: -moz-linear-gradient(top, #fff, #f9fefc); }
.tasklistcolor-13 { background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fafefe) ); }
.tasklistcolor-13 { background: -moz-linear-gradient(top, #fff, #fafefe); }
.tasklistcolor-14 { background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fafcfe) ); }
.tasklistcolor-14 { background: -moz-linear-gradient(top, #fff, #fafcfe); }
.tasklistcolor-15 { background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f5f8fe) ); }
.tasklistcolor-15 { background: -moz-linear-gradient(top, #fff, #f5f8fe); }
.tasklistcolor-16 { background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fafaff) ); }
.tasklistcolor-16 { background: -moz-linear-gradient(top, #fff, #fafaff); }
.tasklistcolor-17 { background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fcfaff) ); }
.tasklistcolor-17 { background: -moz-linear-gradient(top, #fff, #fcfaff); }
.tasklistcolor-18 { background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fcfcfc) ); }
.tasklistcolor-18 { background: -moz-linear-gradient(top, #fff, #fcfcfc); }
.tasklistcolor-19 { background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fdfcfc) ); }
.tasklistcolor-19 { background: -moz-linear-gradient(top, #fff, #fdfcfc); }
.tasklistcolor-20 { background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fdfafb) ); }
.tasklistcolor-20 { background: -moz-linear-gradient(top, #fff, #fdfafb); }
.tasklistcolor-21 { background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff9fb) ); }
.tasklistcolor-21 { background: -moz-linear-gradient(top, #fff, #fff9fb); }
.tasklistcolor-22 { background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fdf7fe) ); }
.tasklistcolor-22 { background: -moz-linear-gradient(top, #fff, #fdf7fe); }
.tasklistcolor-23 { background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#faf8fe) ); }
.tasklistcolor-23 { background: -moz-linear-gradient(top, #fff, #faf8fe); }
